.camera-container{
    max-height: 1080px;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}
.app{
    /* position: relative; */
    min-height: 100vh;

}
.camera{
    position: relative;
}
.result{
    position: absolute;
    top: 0;
    left: 1000%;
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,0, 0.9);
    transition: 0.4s;

}
.result.hasPhoto{
    left: 0;
}
video{
    border-radius: 20px;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}
canvas{
    border-radius: 20px;
    width: 100%;
    height: auto;
}